{% extends "base.html" %}
{% block title %}The Bible API | index{% endblock %}
{% block content %}
Versions
<ul>
  <li><a href="/bible/asv/">American Standard Version (1901)</a></li>
  <li><a href="/bible/basicenglish/">Basic English (1965)</a></li>
  <li><a href="/bible/darby/">Darby (1890)</a></li>
  <li><a href="/bible/kjv/">King James Version (1611)</a></li>
  <li><a href="/bible/web/">World English Version (1997)</a></li>
  <li><a href="/bible/webster/">Webster (1833)</a></li>
  <li><a href="/bible/ylt/">Young's Literal Translation (1898)</a></li>
</ul>
To scrape:
<ul>
  <li><a href="/bible/21ckjv/">21st Century King James Version (1994)</a></li>
  <li><a href="/bible/amp/">Amplified Bible (1987)</a></li>
  <li><a href="/bible/cev/">Contemporary English Version (1995)</a></li>
  <li><a href="/bible/dra/">Douay Rheims American Edition (1899)</a></li>
  <li><a href="/bible/esv/">English Standard Version (1971)</a></li>
  <li><a href="/bible/gnt/">Good News Translation (1992)</a></li>
  <li><a href="/bible/nasb/">New American Standard Bible (1995)</a></li>
  <li><a href="/bible/ncv/">New Century Version (2005)</a></li>
  <li><a href="/bible/nirv/">New International Reader's Version (1998)</a></li>
  <li><a href="/bible/niv/">New International Version (1973)</a></li>
  <li><a href="/bible/nivuk/">New International Version - UK (1978)</a></li>
  <li><a href="/bible/nkjv/">New King James Version (1982)</a></li>
  <li><a href="/bible/nlt/">New Living Translation (1996)</a></li>
  <li><a href="/bible/niv/">New International Version (1973)</a></li>
  <li><a href="/bible/msg/">The Message (1993)</a></li>
  <li><a href="/bible/tniv/">Today's New International Version (2005)</a></li>
  <li><a href="/bible/wyc/">Wycliffe New Testament (1382)</a></li>
</ul>
{% endblock %}
