{% extends "base.html" %}
{% block title %}The Bible API | Book list{% endblock %}
{% block h1 %}Book and Chapter list{% endblock %}
{% block content %}
Copyright
{{copyright}}
Books
<br />
<ul>
{% for book_chapter in book_chapters %}
  <li><a href="/bible/{{version}}/{{book_chapter.book}}/">{{ book_chapter.book }}</a>
  {% for chapter in book_chapter.chapters %}
    <a href="/bible/{{version}}/{{book_chapter.book}}/{{chapter}}/">{{ chapter }}</a>
  {% endfor %}
  </li>
{% endfor %}
</ul>
{% endblock %}
