{% extends "base.html" %}
{% block title %}The Bible API | Book list{% endblock %}
{% block h1 %}Book list{% endblock %}
{% block content %}
Copyright
{{copyright}}
Books
<ul class="books">
  <li><a href="/bible/{{version}}/Genesis/">Genesis</a></li>
  <li><a href="/bible/{{version}}/Exodus/">Exodus</a></li>
  <li><a href="/bible/{{version}}/Leviticus/">Leviticus</a></li>
  <li><a href="/bible/{{version}}/Numbers/">Numbers</a></li>
  <li><a href="/bible/{{version}}/Deuteronomy/">Deuteronomy</a></li>
  <li><a href="/bible/{{version}}/Joshua/">Joshua</a></li>
  <li><a href="/bible/{{version}}/Ruth/">Ruth</a></li>
  <li><a href="/bible/{{version}}/1%20Samuel/">1 Samuel</a></li>
  <li><a href="/bible/{{version}}/2%20Samuel/">2 Samuel</a></li>
  <li><a href="/bible/{{version}}/1%20Kings/">1 Kings</a></li>
  <li><a href="/bible/{{version}}/2%20Kings/">2 Kings</a></li>
  <li><a href="/bible/{{version}}/1%20Chronicles/">1 Chronicles</a></li>
  <li><a href="/bible/{{version}}/2%20Chronicles/">2 Chronicles</a></li>
  <li><a href="/bible/{{version}}/Ezra/">Ezra</a></li>
  <li><a href="/bible/{{version}}/Nehemiah/">Nehemiah</a></li>
  <li><a href="/bible/{{version}}/Esther/">Esther</a></li>
  <li><a href="/bible/{{version}}/Job/">Job</a></li>
  <li><a href="/bible/{{version}}/Psalms/">Psalms</a></li>
  <li><a href="/bible/{{version}}/Proverbs/">Proverbs</a></li>
  <li><a href="/bible/{{version}}/Ecclesiastes/">Ecclesiastes</a></li>
  <li><a href="/bible/{{version}}/Song%20of%20Solomon/">Song of Solomon</a></li>
  <li><a href="/bible/{{version}}/Isaiah/">Isaiah</a></li>
  <li><a href="/bible/{{version}}/Jeremiah/">Jeremiah</a></li>
  <li><a href="/bible/{{version}}/Lamentations/">Lamentations</a></li>
  <li><a href="/bible/{{version}}/Ezekiel/">Ezekiel</a></li>
  <li><a href="/bible/{{version}}/Daniel/">Daniel</a></li>
  <li><a href="/bible/{{version}}/Hosea/">Hosea</a></li>
  <li><a href="/bible/{{version}}/Joel/">Joel</a></li>
  <li><a href="/bible/{{version}}/Amos/">Amos</a></li>
  <li><a href="/bible/{{version}}/Obadiah/">Obadiah</a></li>
  <li><a href="/bible/{{version}}/Jonah/">Jonah</a></li>
  <li><a href="/bible/{{version}}/Micah/">Micah</a></li>
  <li><a href="/bible/{{version}}/Nahum/">Nahum</a></li>
  <li><a href="/bible/{{version}}/Habakkuk/">Habakkuk</a></li>
  <li><a href="/bible/{{version}}/Zephaniah/">Zephaniah</a></li>
  <li><a href="/bible/{{version}}/Haggai/">Haggai</a></li>
  <li><a href="/bible/{{version}}/Zechariah/">Zechariah</a></li>
  <li><a href="/bible/{{version}}/Malachi/">Malachi</a></li>
  <li><a href="/bible/{{version}}/Matthew/">Matthew</a></li>
  <li><a href="/bible/{{version}}/Mark/">Mark</a></li>
  <li><a href="/bible/{{version}}/Luke/">Luke</a></li>
  <li><a href="/bible/{{version}}/John/">John</a></li>
  <li><a href="/bible/{{version}}/Acts/">Acts</a></li>
  <li><a href="/bible/{{version}}/Romans/">Romans</a></li>
  <li><a href="/bible/{{version}}/1%20Corinthians/">1 Corinthians</a></li>
  <li><a href="/bible/{{version}}/2%20Corinthians/">2 Corinthians</a></li>
  <li><a href="/bible/{{version}}/Galatians/">Galatians</a></li>
  <li><a href="/bible/{{version}}/Ephesians/">Ephesians</a></li>
  <li><a href="/bible/{{version}}/Philippians/">Philippians</a></li>
  <li><a href="/bible/{{version}}/Colossians/">Colossians</a></li>
  <li><a href="/bible/{{version}}/1%20Thessalonians/">1 Thessalonians</a></li>
  <li><a href="/bible/{{version}}/2%20Thessalonians/">2 Thessalonians</a></li>
  <li><a href="/bible/{{version}}/1%20Timothy/">1 Timothy</a></li>
  <li><a href="/bible/{{version}}/2%20Timothy/">2 Timothy</a></li>
  <li><a href="/bible/{{version}}/Titus/">Titus</a></li>
  <li><a href="/bible/{{version}}/Philemon/">Philemon</a></li>
  <li><a href="/bible/{{version}}/Hebrews/">Hebrews</a></li>
  <li><a href="/bible/{{version}}/James/">James</a></li>
  <li><a href="/bible/{{version}}/1%20Peter/">1 Peter</a></li>
  <li><a href="/bible/{{version}}/2%20Peter/">2 Peter</a></li>
  <li><a href="/bible/{{version}}/1%20John/">1 John</a></li>
  <li><a href="/bible/{{version}}/2%20John/">2 John</a></li>
  <li><a href="/bible/{{version}}/3%20John/">3 John</a></li>
  <li><a href="/bible/{{version}}/Jude/">Jude</a></li>
  <li><a href="/bible/{{version}}/Revelation/">Revelation</a></li>
</ul>
{% endblock %}
