{% extends "base.html" %}
{% block title %}search{% endblock %}
{% block content %}
{% if errors %}
  <ul>
    {% for error in errors %}
      <li>{{ error }}</li>
    {% endfor %}
  </ul>
{% endif %}
<form action="" method="get">
  <input type="text" class="text" name="q" value="{{q}}" />
  <select name="v">
    <option value="asv">American Standard Version (ASV)</option>
    <option value="basicenglish">Basic English</option>
    <option value="oops">oops</option>
    <option value=""></option>
  </select>
  <input type="submit" name="search" value="search" />
</form>
{% if q %}
  {% if verses %}
      <p>Found {{ verses|length }} verse{{ verses|pluralize }}.</p>
      <ul>
          {% for verse in verses %}
          <li>{{ verse.book }} {{ verse.chapter }}:{{ verse.verse }} - {{ verse.verseText }}</li>
          {% endfor %}
      </ul>
      {{ count }}
  {% else %}
      <p>No verses matched your search criteria.</p>
  {% endif %}
{% endif %}
{% endblock %}
